.modal {
  background-color: transparent;
  .modal-info {
    margin-top: 10% !important;
    @media only screen and (max-width: 500px) {
      margin-top: 50% !important;
    }
  }
  .modal-dialog {

    .modal-height {
      height: 570px;
      @media only screen and (max-width: 500px) {
        width: 100%;
        height: 520px;
      }
      .modal-body {
        .form-control {
          @media only screen and (max-width: 500px) {
            width: 385px !important;
          }
        }
        .modal-form-textarea {
          width: 427px !important;
          @media only screen and (max-width: 500px) {
            width: 400px !important;
          }
        }
      }
    }
    .modal-content {

    }
  }
}

.accordion-position {
  top: 15% !important;
  @media only screen and (max-width: 500px) {
    top: 10% !important;
    width: 400px !important;
  }
}