.modal {
  background-color: transparent;
  .modal-info {
    margin-top: 10% !important;
  }
  .modal-dialog {

    .modal-height {
      height: 570px;
      .modal-body {
        .modal-form-textarea {
          width: 427px !important;
        }
      }
    }
    .modal-content {

    }
  }
}

.accordion-position {
  top: 15% !important;
}