.catalog {
  position: relative;
  .video {
    width: 100% !important;
    height: 100vh;
    padding: 0;
    margin: 0;
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    .video-bg {
      width: 100%;
    }
  }
  .header {
    margin: 0;
    padding: 0 98px;
    box-sizing: border-box;
    .header-title {
      margin-top: 70px;
      text-align: center;
      h1 {
        color: #FFF;
        font-family: "Suissie Intl";
        font-size: 143.925px;
        font-style: normal;
        font-weight: 450;
        line-height: normal;
        letter-spacing: -7.196px;
      }
      .subtitle {
        color: #FFF;
        font-family: Montserrat;
        font-size: 22.325px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -1.116px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 140px;
          height: 80px;
          margin-right: 20px;
        }
      }
    }
    .row {
      margin: 0;
      padding: 0;

      .col-lg-6 {
        margin: 0;
        padding: 0;
        .catalog-card {
          width: 98%;
          height: 147.991px;
          border-radius: 41.667px;
          border: 1.667px solid #FFF;
          background: radial-gradient(107.32% 141.42% at 0% 0%, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.00) 100%);
          box-shadow: -4.167px -4.167px 208.333px 0px rgba(255, 255, 255, 0.02) inset;
          backdrop-filter: blur(17.5px);
          .subtitle {
            font-family: Montserrat;
            font-size: 15.707px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: -0.785px;
          }
          img {
            width: 213px;
            height: 119.068px;
          }
        }
      }
    }
  }
  .catalog-info-section {
    margin: 0;
    padding: 0 98px;
    box-sizing: border-box;
    background-image: url("../images/catalog-info-section-background.png");
    background-repeat: no-repeat;
    background-color: #000000;
    .catalog-info-section-top , .catalog-info-section-bottom {
      .title {
        font-family: Montserrat;
        font-size: 69.754px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -1.395px;
      }
      .subtitle {
        font-family: Montserrat;
        font-size: 21.564px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -1.078px;
      }
      .row {
        margin: 0;
        padding: 0;
        img {
          width: 100%;
          height: auto;
        }
        .col-lg-7 {
          img {
            height: 100%;
          }
        }
        .col-lg-5 {
          padding: 0;
          .row {
            .col-lg-6{
              height: 166px;
              padding: 0;
              img {
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
    }
    .main-catalog {
      .title {
        font-family: Montserrat;
        font-size: 69.754px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -2.093px;
      }
      .row {
        margin: 0;
        padding: 0;
        .col-lg-3 {
          margin: 0;
          padding: 0;
          .catalog-card {
            width: 300px;
            height: 510px;
            border-radius: 27.376px;
            background: rgba(0, 0, 0, 0.50);
            backdrop-filter: blur(12.36313533782959px);
            .card-img {
              width: 270px;
              height: 383px;
              background-image: url("../images/catalog-card-1.png");
              background-position: center;
              background-size: cover;
              border-radius: 20px;
              .card-korzino {
                width: 50px;
                height: 50px;
                padding: 13px;
                margin: 11px 0 0 7px;
                background-image: url("../images/korzino-background.png");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
              }
            }
            h3{

            }
            .card-button {
              border-radius: 24.436px;
              border: 0.977px solid #FFF;
              background: radial-gradient(107.32% 141.42% at 0% 0%, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.00) 100%);
              box-shadow: -2.444px -2.444px 122.178px 0px rgba(255, 255, 255, 0.02) inset;
              backdrop-filter: blur(10.262953758239746px);
              width: 106.519px;
              height: 16.462px;
              position: relative;
              margin: 18px auto;
              button {
                font-family: Montserrat;
                font-size: 9.99px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                padding: 0;
                text-align: center;
                position: absolute;
                top: 0;
                left: 20px;
              }
              img{
                background-image: url("../images/footer-arrow-backgound.png");
                background-position: center;
                background-repeat: no-repeat;
                width: 15px;
                height: auto;
                margin-left: auto;
                border-radius: 19.256px;
              }
            }
          }
        }
      }
    }
  }
  main {
    margin: 0;
    padding: 0 98px;
    box-sizing: border-box;
    background-image: url("../images/main-backgorund.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: #000000 ;
    background-size: cover;
    .catalog-info-section-top {
      .title {
        font-family: Montserrat;
        font-size: 69.754px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -1.395px;
      }
      .subtitle {
        font-family: Montserrat;
        font-size: 21.564px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -1.078px;
      }
      .row {
        margin: 0;
        padding: 0;
        img {
          width: 100%;
          height: auto;
        }
        .col-lg-7 {
          img {
            height: 100%;
          }
        }
        .col-lg-5 {
          padding: 0;
          .row {
            .col-lg-6{
              height: 166px;
              padding: 0;
              img {
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
    }
    .row {
      margin: 0;
      padding: 0;
      .col-lg-3 {
        margin: 0;
        padding: 0;
        .catalog-card {
          width: 300px;
          height: 510px;
          border-radius: 27.376px;
          background: rgba(0, 0, 0, 0.50);
          backdrop-filter: blur(12.36313533782959px);
          .card-img {
            width: 270px;
            height: 383px;
            background-image: url("../images/catalog-card-1.png");
            background-position: center;
            background-size: cover;
            border-radius: 20px;
            .card-korzino {
              width: 50px;
              height: 50px;
              padding: 13px;
              margin: 11px 0 0 7px;
              background-image: url("../images/korzino-background.png");
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center;
            }
          }
          h3{

          }
          .card-button {
            border-radius: 24.436px;
            border: 0.977px solid #FFF;
            background: radial-gradient(107.32% 141.42% at 0% 0%, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.00) 100%);
            box-shadow: -2.444px -2.444px 122.178px 0px rgba(255, 255, 255, 0.02) inset;
            backdrop-filter: blur(10.262953758239746px);
            width: 106.519px;
            height: 16.462px;
            position: relative;
            margin: 18px auto;
            button {
              font-family: Montserrat;
              font-size: 9.99px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              padding: 0;
              text-align: center;
              position: absolute;
              top: 0;
              left: 20px;
            }
            img{
              background-image: url("../images/footer-arrow-backgound.png");
              background-position: center;
              background-repeat: no-repeat;
              width: 15px;
              height: auto;
              margin-left: auto;
              border-radius: 19.256px;
            }
          }
        }
      }
    }
  }
  .catalog-application {
    margin: 0;
    padding: 0 98px;
    box-sizing: border-box;
    background-color: #000;
  }
}